{% extends 'base.html.twig' %}

{% block title %}Hello CategoryController!{% endblock %}

{% block body %}
<style>
</style>

<div>
    <h1>Categories ✅</h1>
<a href="category/create" class="btn btn-info text-white">
   <i class="bi bi-plus-circle"></i>
</a>
   
    {% if categories is empty %}
    <p>Aucune catégorie disponible.</p>
    {% else %}
    <ul>
        {% for category in categories %}
            <li><a href="category/{{ category.id }}">{{ category.title }}</a></li>
        {% endfor %}
    </ul>
    {% endif %}
</div>
{% endblock %}
