{% extends 'base.html.twig' %}

{% block title %}Contact - {{ contact.email }}{% endblock %}

{% block body %}
<div class="container mt-5">
    <a href="{{ path('all_contact') }}" class="btn btn-danger text-white mb-4">
        <i class="bi bi-arrow-left-circle"></i> Retour à la liste des contacts
    </a>

    <h1 class="display-4 text-center mb-4">Détails du Contact</h1>
    
    <div class="card shadow-sm">
        <div class="card-body">
            <h2 class="h5">Email :</h2>
            <p class="text-muted">{{ contact.email }}</p>

            <h2 class="h5 mt-3">Message :</h2>
            <p>{{ contact.message }}</p>
        </div>
    </div>
</div>
{% endblock %}
