{% extends 'base.html.twig' %}

{% block title %}Mise à jour de l'article - {{ article.title }}{% endblock %}

{% block body %}
<div class="container mt-5">
    <a href="{{ path('article') }}" class="btn btn-danger text-white mb-4">
        <i class="bi bi-arrow-left-circle"></i> Retour à la liste des articles
    </a>

    <h1 class="display-4 text-center mb-4">Mise à jour de l'article</h1>

    <div class="card shadow-sm">
        <div class="card-body">
            <h2 class="h5 mb-4">Titre : {{ article.title }}</h2>
            {{ form(form) }}
        </div>
    </div>
</div>
{% endblock %}
